{% extends "main.html" %}

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<div class="section">
  <div class="container">
    <h3 class="title is-3 has-text-primary">About Cats on Skis</h3>

    <p class="content is-size-5 mb-5">
      We love Cats on Skis! This is the absolute best place to find information about cats on skis.
    </p>

    <h3 class="title is-3 has-text-primary mt-6">Your Authors</h3>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="is-size-5">
              <strong>Slalom Sammy</strong>
            </p>
          </div>
        </div>
        <div class="media-right">
          <figure class="image is-128x128">
            <img src="{{ url_for('images', image='slalom-sammy') }}" alt="Slalom Sammy">
          </figure>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}